extends common/layout

block content_main
    div.banner.container.mb-20
        img(src="/images/banner.jpg")
    div.container
        div.main.fl
            article.article
                div.date
                    span.glyphicon.glyphicon-calendar.ico
                    span.day #{post.time.sDay}
                    span.month #{post.time.sMonth}
                    span.year #{post.time.year}
                h3.title.pt-10.pb-10 #{post.title}
                p.info.ft-lighter
                    span.glyphicon.glyphicon-user.mr-10
                    a.mr-10(href="/u/#{post.name}") #{post.name}
                    span.mr-10 /
                    span.glyphicon.glyphicon-comment.mr-10
                    span.mr-10 #{post.comments.length}
                    span.mr-10 /
                    span.glyphicon.glyphicon-tags.mr-10
                    span nothing
                div.post !{post.post}
            include articles/comment
